@{
    ViewBag.Title = "Extra Store";
}

<div class="jumbotron">
    <h1>Extra Store</h1>
    
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Mouse</h2>
            <input type="image" height="300" src="~/Img/A4Tech Mouse.jpg" title="Back to list" onclick="location.href='@Url.Action("ProductInfo", "Products", new { name = "A4Tech Mouse" })'" />
    </div>
    <div class="col-md-4">
        <h2>Keyboard</h2>
        <input type="image" height="300" src="~/Img/Gigabyte Keyboard.jpg" title="Back to list" onclick="location.href='@Url.Action("ProductInfo", "Products", new { name = "Gigabyte Keyboard" })'" />
    </div>
    <div class="col-md-4">
        <h2>Headphones</h2>
        <input type="image" height="300" src="~/Img/Logitech Headphones.jpg" title="Back to list" onclick="location.href='@Url.Action("ProductInfo", "Products", new { name = "Logitech Headphones" })'" />
    </div>
</div>