@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Karol's Store</h1>
    
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Mouse</h2>
        <p>
            <img src="~/Img/mouse.jpg" height="300"/>
        </p>
    </div>
    <div class="col-md-4">
        <h2>Keyboard</h2>
        <img src="~/Img/keyboard.jpg" height="300" />
    </div>
    <div class="col-md-4">
        <h2>Headphones</h2>
        <img src="~/Img/headphones.jpg" height="300"/>
    </div>
</div>